html,body{
	height: 100%;
  margin:0px;

}

.video-container {
  height: 100%; 
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;

  video{
  	min-height: 100%;
  	min-width: 100%;

  	position:absolute;
  	top: 50%;
  	left: 50%;

  	// El navegador no altere la escala
  	width: auto;
	  height: auto;

 	  -webkit-transform: translate(-50%,-50%);
 	          transform: translate(-50%,-50%);
  }
}


////////////////////////////////////////

body { 
  // background: #000;
  // color: #fff;
  // font-family: 'Oxygen', sans-serif;
}

.card{
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  margin-bottom: 400px;

}
.container{
  width: 80%;
  .card{
    margin-top: -170px;
    padding:2em;
  }
}

#contact{
  margin-top: -600px;
}

input,textarea{
  font-size: 2em;
  padding: 0.5em;
  border:none;
  outline:none;
  border-bottom: solid 2px #eee;
  background-color:transparent;
  width: 100%;
}
.black{
  background-color:#000;
}

.black-parecido{
  background-color:#222;
}

.white{
  background-color:white;
}

.white-text{
  color:white;
}
.black-text{
  color:black;
}
.slim{
  font-weight: 200;
}

.dancing-script{

  font-family: 'Dancing Script', cursive;
}

.title{
  font-size: 4em;
}

.subtitle{
  font-size: 2.1em
}

.medium{
  font-size: 1.5em;
}

.large-padding{
  padding:10px 15px;
}

.fixed{
  position:fixed;

}
.relative{
  position:relative;
}

.absolute{
  position:absolute;
}


.top{
  top:1em;
}
.right{
  right: 5em;
}
// .right-{
//   right: 0px;
// }

.bottom{
  bottom:0px;
}

.up{
  z-index: 10;
}
  
.full-height{
	height: 100%;
	// margin: 0 0 1em;
}
.full-width{
  width: 100%;
  // margin: 0 0 1em;
}

.hidden{
	display: none ;
} 


.invisible{
  visibility: hidden;
}
.row{
	margin:0px;
}

.no-margin{
  margin: 0px;
}
.top-space{
  margin-top: 2em;
}
.navigation{
  li{
    @extend .medium;
    padding:5px 10px;
    transition: all 0.4s;

    &:hover{
      background-color:rgba(0,0,0,0.4);
    }

    a{
      color:white;
      cursor: pointer;
      &:hover{
        text-decoration: none;
        // text-decoration: underline;
      }
    }
  }

}

// Para la linea 

#description{
  ul{
    // margin: 0px;
    margin-bottom: 4px;
  }
  &.absolute{
    bottom: 0px;
  }
  &.fixed{
    top: 0px
  }
}

// imagenes
.food{
  height: 300px;
  background-size: cover;
  background-position: center;
  padding: 0px;
  // todo lo q desborde o mis hijos se salgan de su posicion ocultalos
  overflow: hidden;
  &:hover{
    .screen{
      top:0%;
    }
  }
  .screen{
    top : -100%;
    position:relative;
    background-color:rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    transition: top .4s;
  }
}


#menu-title{
  width: 300px;
  z-index: 5;
  top: 50%;
  left: 50%;
  // left: calc(50% - 150px);
  // top: calc(50% - 2.5em);
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

// slider
#gallery{
  // height: 100%;
  width: 100%;
  overflow-x:hidden; 
  .inner{
    white-space: nowrap;
    position:relative;
    left: 0%;
    transition: left 2s;
  }
  .image{
    // no pueden tener a los lados
    // display: block;
    display: inline-block;
    margin-right: -4px;
    height:100vh;
    width: 100%;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
  }
}


.path-step{
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #a2a2a2;
  // margin-top: 3.3em;
  margin-top: 2.8em;
  // margin-left: 4em;
  opacity: 0.4s;
  &.active{
    opacity: 1;
    background-color:white;
    box-shadow:0px 0px 5px rgba(250,250,250,0.8)
  }
}
.font-form{
  font-size: 0.8em;
  background-color: transparent;
  // color:white;
  // background-color: blue;
  p{
    font-size: 1.5em;

  }
}
.btnEnviar{
  margin:1em;
  background-color:#37c5ef;
  padding:0.5em 8em;
  margin:1em;
  border-color:#37c5ef;
  border-radius:10px;
  font-size: 15px;
}

/*=============================================
MAPAS
=============================================*/


#map{
  height: 500px;
}

#location{
  width: 80%;
  margin: 0 auto;
  margin-top: -50px;  
}

#menu-open{
  display: none;
}

// .overlay {javascript:;
//   background: rgba(0,0,0,0.5);
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   width: 95%;
//   max-width: 45em;
//   margin: auto auto 1em;
//   box-sizing: border-box;
//   padding: 2em;
//   line-height: 1.5;
//   text-align: center;
  
//   :last-child { margin-bottom: 0; }

//   h1 {
//     font-size: 14pt;
//     font-weight: normal;
//     text-shadow: 0 0 .3em #000;
//     margin: 0 0 1em;
//   }

  // p {
  //   font-size: 11pt;
  //   text-shadow: 0 0 .3em #000;
  //   margin: 1em 0;
  // }
  // a {
  //   color: #fff;
  // }

// }

// code { font-family: monospace; }
// .large-paddding{
//   width: 100%

// }

/*=============================================
BREAKPOINTS
=============================================*/

@media only screen and (max-width: 480px){
  #menu-open{
    display: block;
  }
  #responsive-nav{
    ul{
      position:fixed;
      width: 100%;
      font-size:1em;
      top:90px;
      background-color:#222;
      left: 0px;
      text-align: center;
      margin:0px;
      max-height: 0px;
      overflow: hidden;
      transition: all 0.4s;
      &.active{
        max-height: 80vh;
      }

      li{
        display: block;
        margin-top: 1em;
        padding:10px 15px;
      }
    }
  }
}

@media only screen and (min-width: 481px )and (max-width: 960px){
  #menu-open{
    display: block;
  }
  #responsive-nav{
    ul{
      position:fixed;
      width: 100%;
      font-size:1em;
      top:60px;
      background-color:#222;
      left: 0px;
      text-align: center;
      margin:0px;
      max-height: 0px;
      overflow: hidden;
      transition: all 0.4s;
      &.active{
        max-height: 80vh;
      }

      li{
        display: block;
        margin-top: 1em;
        padding:10px 15px;
      }
    }
  }

}