html,body{
	height: 100%;
  margin:0px;

}

.video-container {
  height: 100%; 
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;

  video{
  	min-height: 100%;
  	min-width: 100%;

  	position:absolute;
  	top: 50%;
  	left: 50%;

  	// El navegador no altere la escala
  	width: auto;
	  height: auto;

 	  -webkit-transform: translate(-50%,-50%);
 	          transform: translate(-50%,-50%);
  }
}


////////////////////////////////////////

body { 
  // background: #000;
  // color: #fff;
  // font-family: 'Oxygen', sans-serif;
}


.black{
  background-color:#000;
}
.white-text{
  color:white;
}

.dancing-script{

  font-family: 'Dancing Script', cursive;
}

.title{
  font-size: 4em;
}

.fixed{
  position:fixed;

}
.medium{
  font-size: 1.5em;
}

.large-padding{
  padding:10px 15px;
}

.relative{
  position:relative;
}

.absolute{
  position:absolute;
}


.top{
  top:1em;
}
.right{
  right: 5em;
}

.bottom{
  bottom:0px;
}

.up{
  z-index: 10;
}
  
.full-height{
	height: 100%;
	// margin: 0 0 1em;
}
.full-width{
  width: 100%;
  // margin: 0 0 1em;
}

.hidden{
	display: none !important;
} 

.row{
	margin:0px;
}

.no-margin{
  margin: 0px;
}

.navigation{
  li{
    @extend .medium;
    padding:5px 10px;
    transition: all 0.4s;

    &:hover{
      background-color:rgba(0,0,0,0.4);
    }

    a{
      color:white;
      cursor: pointer;
      &:hover{
        text-decoration: none;
        // text-decoration: underline;
      }
    }
  }

}

// .overlay {
//   background: rgba(0,0,0,0.5);
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   width: 95%;
//   max-width: 45em;
//   margin: auto auto 1em;
//   box-sizing: border-box;
//   padding: 2em;
//   line-height: 1.5;
//   text-align: center;
  
//   :last-child { margin-bottom: 0; }

//   h1 {
//     font-size: 14pt;
//     font-weight: normal;
//     text-shadow: 0 0 .3em #000;
//     margin: 0 0 1em;
//   }

  // p {
  //   font-size: 11pt;
  //   text-shadow: 0 0 .3em #000;
  //   margin: 1em 0;
  // }
  // a {
  //   color: #fff;
  // }

// }

// code { font-family: monospace; }